*
{
    /*Unless Specified, all elements should have 0 margin and padding*/
    margin:0;
    padding:0;
}

html
{
    /*Base font-size for rem, 1 rem = 8px */
    font-size: 8px;
    overflow: hidden;
}

body
{
    /* background-color: lightblue; */
    background: url(Space.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    text-align:center;
}

#Game
{
    /*Putting everything in the middle of the browser*/
    display: inline-block;
}

.GameDataBoard
{    
    /*Position*/
    position: relative;
    float:left;
    
    /*Dimension*/
    height: 65rem;
    width: 30rem;
    margin: 1rem;

    /*Aesthetics*/
    /* background: linear-gradient( darkblue, blue); */
    background: rgba(0,0,139,0.8);
    background-size: 100% 100%;
    border-radius: 1.5rem;
    border: solid white 0.5rem;
}

p
{
    /* Position */
    position: relative;

    /* Dimension */
    font-size: 2.5rem;
    margin: 1rem;

    /*Aesthetics*/
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#NextBlockDiv
{
    /*Position*/
    position: relative;
    left: 4rem;

    /* Dimension */
    width: 22rem;
    height: 22rem;

    /*Aesthetics*/
    background-color: rgba(255,255,255,0.5);
    border-radius: 1rem;
}

#GameArea
{
    /*Position*/
    position: relative;
    float: left;
    text-align:center;
    

    /*Dimension*/
    height: 65rem;
    width: 80rem;
    margin: 1rem 0rem;
    

    /*Aesthetics*/
    background: rgba(255,255,255,0.5);
    border-radius: 1rem;
}

#BorderLine
{
    /*Position*/
    position: absolute;
    top: 5rem;
    left: 0;

    /*Dimension*/
    height:0.5rem;
    width:80rem;

    /*Aesthetics*/
    background-color:white;
}

#BaseGround
{
    /*Position*/
    display: inline-block;
    position: relative;
    top: 55rem;
    
    
    /*Dimension*/
    height:5rem;
    width:40rem;

    /*Aesthetics*/
    background: url("Land.png");
    background-size: 100% 100%;
    border-radius: 1rem;
}


.BaseGroundUnit
{
    /*Position*/
    float:left;

    /*Dimension*/
    height:4.5rem;
    width:4.5rem;

    /*Aesthetics*/
    background: transparent;
    border: solid white 0.25rem;
}


/*Color of the Block of Tetris*/
.TetrisBlock
{
    /*Position*/
    position: absolute;
    top: 5rem;                
    left: 0;    /*Actually Random*/

    /*Dimension*/
    height: 4.8rem;
    width: 4.8rem;

    /*Aesthetics*/
    background: red;
    background-size: 100% 100%;
    border: solid white 0.1rem;
    border-radius: 7px;

    /*Animation*/
    transition: left 0.25s;
    transition: top 0.25s;
    
}

#ModeButton
{
    /*Dimension*/
    width: 22rem;
    height: 10rem;

    /*Asethetics*/
    background: white;
    border: solid gray 0.2rem;
    border-radius: 10px;
    font-size: 3rem;
}


#Level
{
    top:3rem; 
    font-size: 4rem;
    border: solid white 0.5rem;
    border-radius: 1rem;
}



