/*
    This is for handling Responsiven Design of the website
    In case if we have enough time to do it :)
*/


/*SmartPhone Mode*/
@media only screen and ( max-width: 640px )
{

    .GameDataBoard
    {
        width:100vw;
        height: 10vh; 
        margin:0;
        border: none;
        border-radius: 0; 
        text-align: left;
    }

    #GameArea
    { 
      width: 100vw;
      height: 90vh; 
      margin: 0rem 0rem;
      border: 0px;
    }

    p
    {
        display: none;
    }

    #BaseGround
    {
        top: 70vh;
        width: 72vmin;
        height: 9vmin;
    }

    .BaseGroundUnit
    {
        width: 8.5vmin;
        height: 8.5vmin;

        border: solid white 0.25vmin;
    }
}